* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.border-top {
  width: 12rem;
  height: 0.2rem;
  background-color: darkred;
  border-radius: 40px;
  margin: auto;
}


header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}


.width-30 {
  width: 30.33%;
}

header .img img {
  width: 10%;
}

header .sessions ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header .sessions ul>li {
  list-style-type: none;
}

header .sessions ul>li>a {
  text-decoration: none;
  color: #26252a;
  font-weight: 500;
  font-size: 1rem;
}

header .login-and-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  .login {
    border: none;
    background-color: transparent;
    color: #26252a;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
  }
}

main {
  .emphasis {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #fef8f3;


    .title {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: 3.50rem;
        font-weight: 500;
      }

      h3 {
        font-size: 2rem;
        font-weight: 400;
      }

    }

    .button-emphasis {
      display: flex;
      flex-direction: row;
      width: 40%;
      gap: 1rem;
      justify-content: space-evenly;

      button {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        background-color: transparent;
        border: none;
      }

      .about {
        padding: 1rem;
        cursor: pointer;
        border-radius: 50px;
        border: 2px solid transparent;
        /* Torna a borda transparente */
        background-image: linear-gradient(white, white),
          linear-gradient(to right, #92caff, #ff9a9e);
        background-origin: border-box;
        background-clip: padding-box, border-box;

        span {
          font-weight: 600;
          font-size: 1.40rem;
        }
      }

    }

    .emphasis-images {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .img {

        img {
          width: 100%;
          border-radius: 40px;
          height: 100%;
        }
      }
    }
  }

  .mission-vision-values {
    padding-top: 5rem;

    .title-section {
      text-align: center;

      h1 {
        font-size: 3rem;
      }
    }

    .wrapper-box {
      display: flex;
      flex-direction: row;
      padding: 10rem;
      padding-top: 5rem;
      justify-content: center;
      gap: 5rem;

      .box {
        width: 25.33%;
        padding: 1rem;
        border: 2px solid #e1e1e1;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        -webkit-box-shadow: 26px 10px 46px -18px rgba(153, 153, 153, 1);
        -moz-box-shadow: 26px 10px 46px -18px rgba(153, 153, 153, 1);

        box-shadow: 26px 10px 46px -18px rgba(153, 153, 153, 1);

        .title {
          text-align: center;
        }

        .description {
          text-align: center;
        }
      }
    }


  }

  .services {
    padding: 10rem;
    padding-top: 4rem;
    background-color: #fef8f3;

    .title-services{
      text-align: center;
      h1{
        font-size: 3rem;
      }
    }

    .box-wrapper {
      display: flex;
      flex-direction: column;

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        .box-text {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .box-title {

            h1 {
              font-size: 2rem;
              span{
                color: #814d23;
              }
            }
          }
        }

        .box-image {
          width: 20%;

          img {
            border-radius: 7px;
            width: 100%;
            height: 100%s;
          }
        }
      }
    }
  }
}

.ciano {
  background-color: cadetblue;
}



.apply-license {
  padding: 1rem !important;
  color: #814d23 !important;
  font-weight: 500 !important;
  background-color: #ffcaa3 !important;
  border-radius: 40px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  border: none !important;
}